body {
    background: linear-gradient(#ffffff, #b2ebf2);
    height: 100vh;        /* ← 画面全体を使う */
    margin-left: 20;            /* ← 余白を消す */
	text-align:left
}

h1,
h2 {
    text-align: center;
	font-size: 30px; 
}

a,
input {
    font-size: 30px;
}

.item-category,
.item-price,
.item-amount {
    font-size: 28px;       
/*	遠くからでも見やすい大きさ */
    margin-bottom: 8px;    
/*	少し余白 */
}