body {
	background-color: #e0f7fa;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px
}

table.th {

    border-style: none;
    border-bottom: 2px double black;
}


table.td {
    border-style: none;
    border-bottom: 1px double black;
    border-spacing: 30px 0px;
}

table{
    table-layout: fixed;
    width: 900px;  
/*	テーブル全体の幅（600pxなどピクセル指定でもOK） */
    border-collapse: separate;
    border-spacing: 0;
}

button {
    font-size: 30px;
}