body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

a.back {
    font-size: 28px;
}

/* 1. 上のバー） */
div.fixed-bar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background-color: #dbe4fb;  /* バーの色 */
  z-index: 10;                /* 文字より手前に表示 */
}

/* 2. 下のバー */
div.fixed-bar-bottom {
  position: fixed;
  bottom: 0;                  /* 画面の下端に固定 */
  left: 0;
  width: 100%;
  padding: 30px 0;
  background-color: #dbe4fb;  /* バーの色 */
  z-index: 10;                /* 文字より手前に表示 */
}

/* 3. 文字エリア（上下のバーを避ける） */
div.content {
  /* バーの高さ（40px）より大きな余白を上下に作って文字を避ける */
  padding-top: 60px;    
  padding-bottom: 60px; 
  padding-left: 20px;   /* 左右の見やすさ用の余白 */
  padding-right: 20px;

  margin-bottom: 140px; 
}