<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>一覧画面</title>
</head>

<body>

	<h2 th:text="${date}"></h2>
	<h3 th:if="${!#lists.isEmpty(expenses)}">
	    合計金額：<span th:text="${total}"></span> 円
	</h3>
	
	<!--	グラフ表示のためのリンク追加-->
	<a th:href="@{/chart(date=${date})}">
		<button type="button">詳細（円グラフ）</button>
	</a>
	
	<!--<form action="/add2" method="post">-->
		<!-- データがある場合 -->
		<table border="1" th:if="${!#lists.isEmpty(expenses)}">

		    <tr>
		        <th>ID</th>
		        <th>日付</th>
		        <th>カテゴリ</th>
		        <th>価格</th>
		        <th>数量</th>
		        <th>結果</th>
		        <th>削除</th>
		        <th>編集</th>
		    </tr>

		    <tr th:each="e : ${expenses}">
		        <td th:text="${e.id}"></td>
		        <td th:text="${e.date}"></td>
		        <td th:text="${e.category}"></td>
		        <td th:text="${e.price}"></td>
		        <td th:text="${e.amount}"></td>
		        <td th:text="${e.result}"></td>

		        <td>
		            <form method="post" th:action="@{/delete2}">
		                <input type="hidden" name="id" th:value="${e.id}">
						<input type="hidden" name="date" th:value="${date}">
						
		                <input type="submit" value="削除"
		                       onclick="return confirm('削除しても大丈夫ですか？');">
		            </form>
		        </td>

		        <td>
		            <form method="get" th:action="@{/edit2}">
		                <input type="hidden" name="id" th:value="${e.id}">
		                <input type="submit" value="編集">
		            </form>
		        </td>
		    </tr>
		</table>

		<!-- データが0件のとき -->
		<p th:if="${#lists.isEmpty(expenses)}">
		    何も登録されていません
		</p>
<!--		入力ボタンの追加-->
		<a th:href="@{/input(date=${date})}">
		    <button type="button">＋追加</button>
		</a>
<!--日付選択	画面Dateselectへ戻る-->

	<a href="/kadai/list">日付選択に戻る</a>
	
	


</body>

</html>