<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>入力画面</title>
</head>
<link rel="stylesheet" type="text/css" href="team3/Team3DateaddIN.css">
<body>

<h2>データ入力</h2>

<form method="post" th:action="@{/add2}" th:object="${team3Expense}">
	
	<input type="hidden"  th:field="*{date}">
	<br>
	<div class="item-category">
    カテゴリー: <br>
	<input type="text" th:field="*{category}">
	<div th:errors="*{category}" style="color:red"></div>
	</div>
	<br>

	<div class="item-price">
    価格: <br>
	<input type="number" th:field="*{price}">
	<div th:errors="*{price}" style="color:red"></div>
	</div>
	<br>
	
	<div class="item-amount">
    数量: <br>
	 <input type="number" th:field="*{amount}">
	 <div th:errors="*{amount}" style="color:red"></div>
	 </div>
	 <br>
	 
    <input type="submit" value ="登録">
</form>

<br>
<!--すでに登録されているデータをテーブルで見る-->
<a th:href="@{/list(date=${date})}">一覧を見る</a>


</body>
</html>