<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="Team3KalenderIn.css">
<meta charset="UTF-8">
<title>家計簿カレンダー画面</title>
</head>
<body>
	<h1>日付を選択してください</h1>
<form method="post" th:action="@{/Team3kalender}" th:object="${team3DayEntity}">	
<!--	カレンダーの機能追加-->
<input type="date" th:field="*{day}">
        <div th:if="${#fields.hasErrors('day')}" th:errors="*{day}"></div>
	<input type="submit" value="確定">	

</form>	
<!--ここには、日付を入力させてください。-->
<!--日付を入力したら、そのHTMLファイルにとんでください-->
</body>
</html>