<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<link rel="stylesheet" type="text/css" href="team3/Team3LoginIn.css">
<meta charset="UTF-8">
<title>家計簿ログイン画面</title>
</head>
<body>

<form id="loginForm" method = "post" th:action = "@{/Team3Login}" th:object="${loginEntity}">

		<h1>家計簿アプリ</h1>
		<br>
		
		ユーザー名<input type ="text" name="name" th:field="*{username}">
		<br>
		
		<!-- エラーメッセージ -->
		   <div th:if="${#fields.hasErrors('username')}"
		        th:errors="*{username}">
		   </div>
		   
		<div class="login-container">
		   	<input type="checkbox" class="nice-checkbox" id="nice">
		   	<input type="button" class="rogin" value="ログイン" onclick="delayedSubmit()">
		   	<label for="nice" class="nice-text">ナイスォー!!!</label>
			<a th:href="@{/Team3UserAdd}">新規登録</a>
		</div>
		
	</form>
	
	<script>
	function delayedSubmit() {
	    // チェックボックスを ON にしてナイスォー!!! を表示
	    document.getElementById("nice").checked = true;

		// ここで 1.2秒遅らせて送信（好きな秒数に変更可）
	    setTimeout(function() {
	        document.getElementById("loginForm").submit();
	    }, 1200);
	}
	</script>

</body>
</html>