<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>円グラフ</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h2 th:text="${date} + ' の内訳'"></h2>

<div style="width:500px; margin:auto">
	<canvas id="pieChart"></canvas>
</div>
<script th:inline="javascript">

    let dataMap = /*[[${map}]]*/ {};

    let labels = Object.keys(dataMap);
    let values = Object.values(dataMap);

    new Chart(document.getElementById('pieChart'), {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                data: values
            }]
        }
    });

</script>

<br>

<a th:href="@{/list(date=${date})}">
<!--DateaddOutにもどる-->
    戻る
</a>

</body>
</html>