<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>一覧画面</title>
</head>
<body>

<h2>一覧</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>日付</th>
        <th>カテゴリ</th>
        <th>価格</th>
        <th>数量</th>
        <th>結果</th>
    </tr>

    <tr th:each="e : ${expenses}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.date}"></td>
        <td th:text="${e.category}"></td>
        <td th:text="${e.price}"></td>
        <td th:text="${e.amount}"></td>
        <td th:text="${e.result}"></td>
    </tr>
</table>

<br>
<a href="/input">入力に戻る</a>

</body>
</html>