<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>家計簿の追加や編集、削除画面</title>
</head>
<body>
<!--ここでは、買った商品、値段を入力させてください。-->
<h1>購入した商品の詳細を入力してください。</h1>
<br>
<form method="post" th:action="@{/kadai/add}" th:object="${team3House}">

商品名<input type ="text" th:field="*{name}">
<br>
値段<input type ="text" th:field="*{price}">円
<!--追加ボタンを作成してください。-->
<input type ="submit" name ="tuika" value = "追加">
<!--追加ボタンを押したら、DBに登録してください。-->

<input type ="hidden" th:field="*{name}">
<input type ="hidden" th:field="*{price}">
</form>

<!-- データがない場合 -->
<div th:if="${#lists.isEmpty(ary)}">
    まだ登録がありません
</div>

<!-- データがある場合 -->
<div th:each="item, st : ${ary}">
	
        商品名：<span th:text="${item.name}"></span>
		<br>
        値段：<span th:text="${item.price}"></span> 円
		
	<!--編集ボタン-->
		<form method="post" th:action="@{/kadai/update}">
		<input type="hidden" name="index" th:value="${st.index}">
		商品名：<input type="text" name="name" th:value="${item.name}">
		<br>
		値段：<input type="text" name="price" th:value="${item.price}">
		<input type="submit" value="更新">
		</form>
		
	<!--削除ボタン-->
		<form method="post" th:action="@{/kadai/delete}">
		<input type="hidden" name="index" th:value="${st.index}">
		<input type="submit" value="削除">
		</form>
</div>
<!--ーーーーーーーーーーーーーーーーーーーーー-->
<form method = "post" th:action = "@{/kadai/cancel}">
<!--キャンセルボタンを押したら、Karenderに飛んでください。-->
<input type ="submit" name ="cancel" value = "キャンセル">
</form>

<form method = "post" th:action = "@{/kadai/save}">
<!--保存ボタンを押したら、team3displayInに飛んでください。-->
<input type ="submit" name ="save" value = "保存">
</form>

</body>
</html>